# Game On Dude! - Node.js Configuration for Elastic Beanstalk
# www.gameonguy.com

option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 3000
    ADMIN_PORT: 3001
    WS_PATH: /ws

  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health
    Port: "3000"
    Protocol: HTTP
